      *{
        padding: 0;
        margin: 0;
      }

      html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
   }
    
   header {
    background-color: D64DC0;
    position: relative;
   }
   .flex-container {
    display: flex; 
    justify-content: between;
    background-color: #39005B;
   } 
   .Logo {
    height: 100px;
    padding-top: 20px;
  }

    nav li {
    display: inline-block; 
    font-weight: 800;
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    }

    .product {
      display: inline-block;
      background-color: #f1f1f1;
      border: none;
      padding: 10px;
      margin: 5px;
      text-align: left;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
  }
  
  .product:hover {
      background-color: #3C2F72;
  }
  
  .product img {
      float: right;
      margin-left: 10px;
  }

    nav {
    display: block;
    position: static;
    text-align: center;
    min-height: unset;
    background-color: #39005B;
    font-size: 1.2rem;
    padding-top: 50px;
    padding-bottom: 50px;
    }

    footer{
      background-color: #39005B;
    position: relative;
    color:#ffffff
    }
    